body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Nav {
  text-align: center;
}

.skillsShift {
  margin-left: 80px;
}

.projects {
  margin-top: 60px;
  margin-left: 100px;
}

.projectImg {
  border-radius: 10px;
  margin-top: 12px;
}

.card-hover:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 0, 255, 0.4), 0 12px 40px 0 rgba(255, 0, 255, 0.38);
  transform: scale(1.01);
  transition: box-shadow 0.3s, transform 0.3s;
}

.needle,
.aquadown,
.boozebed,
.weatherdash,
.firstport,
.favmus {
  margin: 10px;
}

Form,
#accordion {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  text-align: center;
}

.aboutme {
  border: none;
}

.downres {
  border: none;
  margin-top: 20px;
  margin-bottom: 100px;
}

#td {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.reshead {
  margin-left: 20%;
  margin-top: 40px;
}

.contactBtn,
#aboutMe {
  margin-left: auto;
  margin-right: auto;
}

.navLinks {
  margin-left: 10vw;
}

.imagerow {
  text-align: center;
}

.img1,
.img4,
.img7 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.img2,
.img5,
.img8 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 10px;
}

.img3,
.img6,
.img9 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 20px;
}